In [15]:
import pandas as pd
import matplotlib.pyplot as plt
from math import radians, sin, cos, acos

In [16]:
parkingData = pd.read_csv('Ehvn_parking.csv', sep=';')
parkingData.columns = parkingData.columns.str.replace(' ', '') 
treesData = pd.read_csv('Ehvn_trees.csv', sep=';')

/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3146: DtypeWarning: Columns (3,12,17) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [17]:
'Parking data information', parkingData.info() 
'Parking data shape:', parkingData.shape

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11337 entries, 0 to 11336
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Objectid      11337 non-null  int64
 1   Straat        11337 non-null  object
 2   Type_en_merk  11337 non-null  object
 3   Aantal        11337 non-null  int64
 4   Lon           11337 non-null  object
 5   Lat           11337 non-null  object
 6   geo_point_2d  11337 non-null  object
dtypes: int64(2), object(5)
memory usage: 620.1+ KB

('Parking data shape:', (11337, 7))

In [18]:
'Counts of NaN', parkingData.isna().sum().sum()

('Counts of NaN', 0)

In [19]:
'Tree data information', treesData.info() 
'Tree data shape:', treesData.shape

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 134778 entries, 0 to 134777
Data columns (total 20 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   BOOMSOORT   104025 non-null  object
 1   LATIJNSENA  103984 non-null  object
 2   STATUS      96079 non-null   object
 3   PLANTJAAR   134550 non-null  object
 4   HOOGTE      104650 non-null  object
 5   DIAMETER    104571 non-null  object
 6   EINDBEELD   105528 non-null  object
 7   VITALITEIT  102898 non-null  object
 8   LEVENSVERW  102898 non-null  object
 9   BEHEERDER   131269 non-null  object
 10  KORTETERM   106355 non-null  object
 11  OPPERVLAK   104479 non-null  object
 12  RANDLENGTE  134550 non-null  object
 13  LANGETERM   104297 non-null  object
 14  VTACONTROL  106314 non-null  object
 15  WEGTYPE     104450 non-null  object
 16  STANDPLAAT  106261 non-null  object
 17  GEOID       134550 non-null  object
 18  longitude   134550 non-null  object
 19  latitude    134322 non-null  object
dtypes: object(20)
memory usage: 20.6+ MB

('Tree data shape:', (134778, 20))

In [20]:
'Counts of NaN in trees data', treesData.isna().sum().sum()

('Counts of NaN in trees data', 434980)

In [21]:
newTreesData = treesData.dropna()
'New tree data shape:', newTreesData.shape

('New tree data shape:', (91907, 20))

In [22]:
parkingData.head()

,Objectid,Straat,Type_en_merk,Aantal,Lon,Lat,geo_point_2d
0,5869,Winkelcentrum Woensel,Parkeerplaats,1,"5,473875387","51,46894486","51,4689448625;5,47387538744"
1,5873,Winkelcentrum Woensel,Parkeerplaats,1,"5,472963547","51,46882236","51,4688223571;5,47296354721"
2,5874,Winkelcentrum Woensel,Parkeerplaats,1,"5,472994225","51,4688196","51,468819602;5,4729942254"
3,5875,Winkelcentrum Woensel,Parkeerplaats,1,"5,473027096","51,46881958","51,4688195778;5,47302709629"
4,5876,Winkelcentrum Woensel,Parkeerplaats,1,"5,47306434","51,46881818","51,468818175;5,47306433969"

In [23]:
parkingData['Type_en_merk'].unique()
# parkingData['Straat'].unique()

array(['Parkeerplaats', 'Parkeerplaats Vergunning',
       'Parkeerplaats laden/lossen', 'Parkeerplaats Gehandicapten',
       'Parkeerplaats Afgekruist', 'Parkeerplaats Electrisch opladen'],
      dtype=object)

In [24]:
newTreesData.head()

,BOOMSOORT,LATIJNSENA,STATUS,PLANTJAAR,HOOGTE,DIAMETER,EINDBEELD,VITALITEIT,LEVENSVERW,BEHEERDER,KORTETERM,OPPERVLAK,RANDLENGTE,LANGETERM,VTACONTROL,WEGTYPE,STANDPLAAT,GEOID,longitude,latitude
0,Linde,Tilia vulgaris europaea,Basis,1990,dec-15,30 t/m 35,TR 4.20,Basis,>15 jr,REB Stedelijk,OhsB,0,0,Geen actie,C 1 x 3jr,Fietspad,Gazon,123825,"5,452419358","51,41620797"
1,Populier,Populus Canadensis Gelrica,Waardevol,1980,> 24,55 t/m 60,TR 4.20,Basis,10-15 jr,REB Stedelijk,OhsB,2.5,0,Geen actie,C 1 x 3jr,EB geen rijstr.ind,Verharding,16467,"5,523727583","51,45035415"
5,Wilg,Salix alba,Waardevol,1970,< 6,55 t/m 60,Knot,Basis,>15 jr,REB Stedelijk,Altijd,0,0,Geen actie,C 1 x 3jr,EB geen rijstr.ind,Berm,128651,"5,535415488","51,44505309"
6,Es,Fraxinus excelsior Diversifolia,Basis,1995,6-sep,5 t/m 10,TR 4.20,Basis,>15 jr,REB Stedelijk,BgsB,2.5,0,Geen actie,C 1 x 3jr,EB geen rijstr.ind,Verharding,56828,"5,461091083","51,48740461"
7,Berk,Betula pendula,Basis,1970,< 6,0 t/m 5,TR 3.00,Geen,Geen,REB Stedelijk,BgsA,0,0,Boomspiegel verwijderen,C 1 x 3jr,Fietspad,Beplanting,55608,"5,474501169","51,47883512"

In [1]:
newParkingData()
combinedData = pd.concat(parkingData, newTreesData)
combinedData.head()

NameError: name 'pd' is not defined

In [25]:
# calculate distance based on internet exmple
lat1 = radians(51.46894486) # first latitude value in first row of parking dataset
lon1 = radians(5.473875387) # first longitude value in first row of parking dataset
lat2 = radians(51.41620797) # first latitude value in first row of trees dataset
lon2 = radians(5.452419358) # first longitude value in first row of trees dataset



distance = 6373.0 * acos(sin(lat1)*sin(lat2) + cos(lat1)*cos(lat2)*cos(lon1 - lon2))
print(distance)

6.051588244050644

In [26]:
new_data = parkingData[parkingData['Lon'] == '5.452419358']
new_data.head()

Empty DataFrame
Columns: [Objectid, Straat, Type_en_merk, Aantal, Lon, Lat, geo_point_2d]
Index: []

In [27]:
# street = parkingData[]
# fig, ax = plt.subplots()
# ax = plt.scatter(parkingData['Straat'], parkingData['Type_en_merk'], color='red')
# plt.xticks(rotation=45)
# plt.show()

In [28]:
# result = pd.concat(new_data, newTreesData)